@import "home";

.card-result {
  color: white;
  border-radius: 4px;
  height: 200px;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  background-size: cover;
  background-position: center center;
  .mini-profile {
    position: absolute;
    right: 5px;
    text-align: center;
  }
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}


.cards {
  background-color: green;
  z-index: 3000;
}

.search-bar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding-top: 7px;
}
.search-index {
  margin-top: 0 !important;
}
.map {
  height: 400px;
}

#address {
  width: 80%;
}
