@import "home";

.chosen-availability {
  background-color: #85CFF7;
  width: 100%;
  color: white;
  height: 40px;
  font-size: 1.5em;
  text-align: center;
}

.label-success {
  background-color: #FF7B6E;
  border-color: #FF7B6E;
}
 .show-card-wrapper {
  display: flex;
  align-items: center;
 }

.side-choice {
  border: solid 1px #616668;
  padding: 5px;
  margin: auto;
  text-align: center;
}

.main-content {
  width: 55%;
  height: 150px;
}

.dish_photo {
  width: 250px;
  height: auto;
}

.photo {
  padding-left: 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}
