<div class="footer-lunchbox">
  <div class="logo-name">
    <%= link_to root_path, class: "footer-img" do %>
      <%= image_tag "logo-svg-colors/hot-kitchen-pot-black.svg" %>
    <% end %>
    <p class="navbar-wagon-link navbar-wagon-item footer-cpy-name"> LunchBox </p>
  </div>
  <div class="footer-data">
    <ul>
      <li class="navbar-wagon-item navbar-wagon-link footer-link"> Terms & conditions </li>
      <li class="navbar-wagon-item navbar-wagon-link footer-link"> Contact </li>
      <li class="navbar-wagon-item navbar-wagon-link footer-link"> FAQ </li>
    </ul>
  </div>
  <div class="social-links">
    <i class="fa fa-twitter navbar-wagon-item navbar-wagon-link footer-link" aria-hidden="true"></i>
    <i class="fa fa-facebook navbar-wagon-item navbar-wagon-link footer-link" aria-hidden="true"></i>
    <i class="fa fa-instagram navbar-wagon-item navbar-wagon-link footer-link" aria-hidden="true"></i>
  </div>
</div>
