<div class="footer-lunchbox">
  <div class="logo-name">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-svg-colors/hot-kitchen-pot-coral.svg" %>
    <% end %>
    <p class="navbar-wagon-link company-name"> LunchBox </p>
  </div>
  <div class="social-links">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </div>
  <div class="footer-data">
    <ul>
      <li> Terms & conditions </li>
      <li> Contact </li>
      <li> FAQ </li>
    </ul>
  </div>
</div>
