<div class="search-bar">
  Date Jour Portions Type de Plat
</div>

<div class="container">
  <div class="row">
    <div class= "col-lg-6 col-xs-12">
      <div class="card-result">
        <p>Piperade</p>
        <div class="mini-profile">
          <img src="https://avatars0.githubusercontent.com/u/15861461?v=3&s=400" class="avatar-large">
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="price-card">
          2€
        </div>
      </div>
    </div>

    <div class= "col-lg-6 col-xs-12">
      <div class="card-result">
        <p>Piperade</p>
        <div class="mini-profile">
          <img src="https://avatars0.githubusercontent.com/u/15861461?v=3&s=400" class="avatar-large">
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="price-card">
          2€
        </div>
      </div>
    </div>

  </div>
</div>
